/*!
 * File Upload Styles
 * Based on Jasny Bootstrap Extensions
 */

.fileupload {
    margin-bottom: 1rem;
}
.fileupload .btn {
    vertical-align: middle;
}
.fileupload-exists .fileupload-new,
.fileupload-new .fileupload-exists {
    display: none;
}
.fileupload-inline .fileupload-controls {
    display: inline;
}
